    $text-color: green;

:global {
  body {
    background-color: #001f3f;
    // background-color: #001f3f;
    // padding-left: 50px;
    // padding-right: 50px;
    color: $text-color;

    h1, h2 {
        // color: green;
    //   text-align: center;
    }

    margin: 0px;
  }

  .ui.feed>.event>.content {
      .extra, a.like, * {
          color: $text-color;
      }
  }

    .ui.comments>.comment>.content {
        .text, .actions>a, * {
            color: $text-color;
        }
    }

  .ui.comments .comment .avatar {
      height: 2.5em;
  }

  h2 {
    color: $text-color;
  }

  .seek-bar {
    width: 550px;
  }

  button:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  span, p, label {
    // color: #999;
  }

  a {
    cursor: pointer;
    font-weight: bold;
  }
}
