.container {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;

    // border: 1px solid;
    // height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: center;
    // flex-basis: 30%;
}

:global(.ui.card).card {
    margin: 20px;
    display: inline-block;
    align-self: flex-start;
    min-width: 20%;
}
