.navbar {
    // position: fixed;
    height: 67px;
    width: 100%;
    // margin-bottom: 50px;
//   height: 200px;
//   button {
    // margin-bottom: 10px;
//   }
}

.leftSideContainer {
  display: inline-block;
}

.avatarContainer {
  // display: inline-block;
  float: right;
}
