.savedComment {
  border: 5px solid;
  width: 100%;
  max-width: 1000px;
  height: 240px;
  margin-bottom: 30px;
}

.textContainer {
  width: calc(100% - 160px);
  display: inline-block;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 10px;
  vertical-align: top;
}

textarea.commentText {
  background-color: #444;
}

.commentText {
  font-size: 16px;
//   color: white;
  width: 100%;
  height: 80%;

  background-color: inherit;
  border: none;
  outline: none;
  // word-break: break-all;
}

.leftSide {
  width: 160px;
  height: 100%;
  display: inline-block;
}

.userImage {
  // width: 40px;
  // height: 40px;

}

.username {
//   color: white;
}

.commentUser {
  border: 1px solid;
  height: 80%;
  text-align: center;
  padding-top: 10px;
}

.actionButtons {
  height: 20%;
  button {
    margin: 5px;
  }
}

.editButton {
  background-color: #39CCCC;
}

.saveButton {
  background-color: #39CCCC;
}

.cancelButton {
  background-color: #39CCCC;
}
